<div class="body">
<div class="container">
<div class="row">

<div class="col-xs-3">
  <h2>User info</h2>
      <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format: 'jpeg',fallback: 'no_image.png',size: '100x100' %>



      <table class="table">
          <tbody>
            <tr></tr>
            <tr>
              <th>name</th>
              <td><%= current_user.name %></td>
            </tr>

            <tr>
              <th>introduction</th>
              <td><%= current_user.introduction%></td>
            </tr>
          </tbody>
          <td>
                   <% @user ||= current_user %>
                        <a href="<%= following_user_path(@user) %>">
                          <strong id="following" class="stat">
                            <%= @user.followings.count %>
                          </strong>
                          following
                        </a>
                      </div>
                    </td>
                  </tr>
                    <td>
                        <a href="<%= followers_user_path(@user) %>">
                          <strong id="followers" class="stat">
                            <%= @user.followers.count %>
                          </strong>
                          followers
                        </a>
                  </td>

      </table>

  <div class="row">
    <%= link_to edit_user_path(current_user) do %>
    <button type="button" class="col-xs-12 btn btn-default"><i class="glyphicon glyphicon-wrench" ></i></button>
    <% end %>

         <h1>New book</h1>
             <%= form_for(@book, url: '/books') do |f| %>

         <h4>Title</h4>
             <%= f.text_field :title %>

         <h4>Opinion</h4>
             <%= f.text_area :body %>

         <%= f.submit 'Create Book' %>

         <% end %>
  </div>
</div>










<div class="col-xs-9">
    <h2>Users</h2>

<table class="table table-hover table-inverse">

  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg' ,fallback: 'no_image.png',size: '40x40'%></td>

        <td><%= user.name %></td>

        <td>
          <% unless current_user?(user) %>
            <% if current_user.following?(user) %>
                <%= form_for(current_user.following_relationships.find_by(following_id: user.id), html: { method: :delete }) do |f| %>
                  <%= f.submit "Unfollow", class: "btn btn-large follow-btn" %>
                <% end %>
            <% else %>
                <%= form_for(current_user.following_relationships.build(following_id: user.id)) do |f| %>
                  <div><%= f.hidden_field :following_id %></div>
                  <%= f.submit "Follow", class: "btn btn-large btn-primary follow-btn" %>
                <% end %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to "Show", user_path(user.id) %></td>
      </tr>
    <% end %>
  </tbody>


</table>

</div>
</div>
</div>
</div>










